<!DOCTYPE html>
<html>
	<head>
		<title>Mon application Vue.js</title>
		<script src="https://unpkg.com/vue"></script>
	</head>

	<body>
		<div id="app">
            <label for="input">Saisir un message</label>
            <input type="text" id="input" v-model="message">
            <button @click="test">Cacher</button>
            <p v-if="showMessage"> {{ reversedMessage }} </p>
            <ul>
                <list-item v-for="(item,index) in list" :key="index" :item="item"></list-item>
            </ul>
        </div>
        <script> 
        Vue.component('list-item', {
                props:{
                    item: {
                        type: String,
                        required: true
                    }
                },
                template: '<li> {{item}} </li>'
            });
                
            const app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    showMessage: true,
                    list:[
                        "element1","element2","element3"
                    ]
                },
                methods: {
                  test: function (){
                      this.showMessage = !this.showMessage
                    }
                },
                computed:{
                    reversedMessage: function (){
                        return this.message.split('').reverse().join('');
                    }
                }           
            })
        </script>

            
	</body>
</html>
