<!DOCTYPE html>
<html>
	<head>
		<title>Mon application Vue.js</title>
		<script src="https://unpkg.com/vue"></script>
	</head>

	<body>
		<div id="app">
            <label for="input">Saisir un message</label>
            <input type="text" id="input" v-model="message">
            <button @click="test">Appuie</button>
            <p v-if="showMessage"> {{ message }} </p>
        </div>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    showMessage: true
                },
                methods: {
                  test: function (){
                      this.showMessage = !this.showMessage
                    }
                }
            });
        </script>

            
	</body>
</html>
